* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e8e8e8;
}

a {
  background: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  padding: 12px 20px;
}
